body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: transparent;
}

#scoreboard {
    position: fixed;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 300px;
    background-color: #000;
    border-radius: 12px;
    color: white;
    padding: 15px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    z-index: 9999;
    user-select: none;
}

.separator {
    border: none;
    height: 1px;
    background: #1b1919; 
    margin: 15px 0 15px 0;
}

#scoreboard.visible {
    opacity: 1;
    pointer-events: none; 
}

#header {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    background-color: #000;
    padding-bottom: 10px;
    position: relative;
    z-index: 10;
}

#logo-container {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 12px;
}

#logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#title-container {
    margin-left: 15px;
    flex-grow: 1;
}

#title {
    color: orange;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
    user-select: none;
}

#players-count-container {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: white;
}

#player-icon {
    font-size: 18px;
    margin-right: 6px;
}

#players-count {
    font-weight: bold;
    margin-right: 4px;
}

#players-text {
    margin-right: 6px;
}

.separator {
    border: none;
    height: 1px;
    background: #2f2f2f;
    margin: 15px 0 15px 0;
}

.job-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #222;
    padding-bottom: 8px;
}

.job-row:last-child {
    border-bottom: none;
}

.job-icon {
    font-size: 18px;
    margin-right: 10px;
}

.job-name {
    flex-grow: 1;
    font-size: 16px;
    font-weight: 600;
    user-select: none;
}

.job-count {
    font-size: 16px;
    font-weight: bold;
    color: white;
    user-select: none;
}
